@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: sans-serif;
  font-size: 18px;
    background: url(../img/pochemu-sushi.jpg) no-repeat #f3edf4;
    background-size: cover;
}
header{
  height: 12vh;
}
main{
  padding-top: 30px;
}
p{
  color:red;
}

 /* h1{
  font-family: 'Pacifico', cursive;
  font-size: 3em;
} */

.order{
/* width: 90%;
margin: 10px auto; */
/* background-color: rgba(219, 174, 211, 0.62); */
/* padding: 20px; */
text-align: center;
}
.order ul li{
  list-style: none;
  line-height: 40px;

}
.order ul li span{
  font-style: italic;
  font-weight: bold;
}

.order ul li input, .order ul li select{
  width: auto;
  height: 30px;
  padding: 7px;
  border: 2px solid #000;
  border-radius: 5px;
}

.order ul li select{
  height: 50px;
}

.order ul li textarea{
  padding: 7px;
  border: 2px solid #000;
  border-radius: 5px;
}
.order form button{
  width: 30%;
  padding: 10px;
  background-color: red;
  border-radius: 15px;
  font-size: 1.2em;
  font-weight: bold;
}




@media screen and (max-width:835px) {

   h1{
     width: 100%;
     text-align: center;
     font-size: 2em;

   }
  .order{
    margin-top: 100px;
  }
   textarea{
     width: 80%;
   }
   .order form button{
     width: 50%;
   }

}
@media screen and (max-width:940px) {
  .order{
    margin-top: 100px;
  }
  @media screen and (max-width:450px) {
    .order h1{
      width: 100%;
      text-align: center;
      font-size: 1.4em;
  }
  .order form ul li label span{
    font-size: 0.8em;
  }
  .order form button{
    width: 90%;
  }

}
