@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
*{
  box-sizing: border-box;
}
body{
  width: 100%;
  font-family: sans-serif;
  font-size: 18px;
    background: url(../img/pochemu-sushi.jpg) no-repeat #f3edf4;
    background-size: cover;

}
header{
  width: 100%;
  height: 60vh;
  background-color: #8c247a;
  position: relative;
 background-image: linear-gradient(#8c247a, #d65ac5);
}
header .header{
  width: 100%;
  color:#fff;
  background-image: linear-gradient(#d65ac5,#8c247a );

  position: fixed;
  top: 0;
  z-index: 5;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
}

header .header .logo img{
  width: 50px;
  vertical-align: middle;
  margin-top: 10px;
}

header .header .logo span{
  font-size: 1.5em;
  font-family: 'Pacifico', cursive;
}

header .header .contact{
  font-size: 1.5em;
  margin-top: 10px;
}

main{
  width: 100%;
  height: auto;
  padding: 30px 0;
}

/* меню */
.conteiner{
  width: 100%;
  padding: 10px;
  position: relative;
}

.main-menu{
  list-style: none;
  text-align: center;
}

.main-menu li{
  display: inline-block;
  margin-left: 15px;

}

.main-menu li a{
  text-decoration: none;
  color:#fff;
  display: block;
  font-size: 24px;

}
.main-menu li a:hover{
  border-bottom: 2px solid #fff;
  transition: 0.6s;

}
.main-menu li a.active:hover{
 border-bottom: none;
 cursor: text;
}

.toogle-button, #menu-checkbox{
  display: none;
font-size: 40px;
}
/* общие стили */
section{
    width: 90%;
    padding: 20px;
    margin: 0 auto;
    margin-bottom: 20px;
    background-color:  rgba(219, 174, 211, 0.62);
}
.borderShadov{
  border: 2px solid #70375e;
  border-radius: 10px;
  box-shadow: 4px 4px 8px 0px rgba(1, 1, 1, 0.32);
}
.left{
  width: 50%;
  float: left;
}
.right{
  width: 50%;
    float: right;
}
button{
 width: 30%;
 padding: 10px;
 background-color: red;
 border-radius: 15px;
 font-size: 1.2em;
 font-weight: bold;
 margin: auto;
}

button a{
 color:#000;
 text-decoration: none;
}

/* главная */
section.home{
  /* width: 80%; */
  position: relative;
  z-index: 1;
  margin: -180px auto;
  background-color: #fff;
}

.home .home_img img{
  width: 80%;
  margin-top: 60px;


}

.clearfix::before, .clearfix::after{
  content: " ";
  display: table;
}
.clearfix::after{
  clear: both;
}
 h1{
  font-family: 'Pacifico', cursive;
  font-size: 3em;
}
/* секция видео */
section.video{

  margin-top: 200px;
  padding: 20px;

}


/* секция видео */
.ord{
  text-align: center;
}
  /* кнопка */

footer{
  width: 100%;
  background-image: linear-gradient(#8c247a, #d65ac5);

}
footer .footer{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  color: #fff;
  padding: 10px;
}
footer .footer .logo img{
  width: 50px;
  vertical-align: middle;

}

footer .footer .social .icon{
  width: 50px;
  height: 50px;
  display: inline-block;
  margin-right: 5px;
  background-image: url(../img/social.png);
  border: 2px solid #fff;
  border-radius: 5px;
}

footer .footer .social .icon1{
  background-position: -2px -2px;
}
footer .footer .social .icon2{
  background-position: 230px -2px;
}

footer .footer .social .icon3{
    background-position: 0px 172px;
}
footer .copy p{
  color:#fff;
  text-align: center;
}


@media screen and (max-width:940px){
  header .header{
    display: block;
  }
  header .header .logo, header .header .contact, header .header .menu{
    width: 100%;
    text-align: center;
  }
  .left, .right{
    width: 100%;
  }
  .home_img{
    text-align: center;
  }
  .video-video, .video-text, .ord{
    text-align: center;
  }
  .video-text ul{
    text-align: left;
  }

}

@media screen and (max-width:600px) {

   header .header{
     background-color: #8c247a;
     color: #fff;
   }
    .main-menu{
      display: none;
  position: fixed;
  top:30px;
  right: 0;
  padding: 20px;
  background-color:  #8c247a;
  border-radius: 15px;

    }
    .main-menu li{
      display: block;


    }
      .main-menu li a{
        color:#fff;
      }


    .main-menu li a:hover{
      border-bottom: 3px solid #fff;
    }

    .toogle-button{
      display: block;
      position: absolute;
      right: 0px;
      top: -130px;

    }
    #menu-checkbox:checked + nav .main-menu{
     display: block;
       animation: menuAnim 2s linear 1;
    }
    @keyframes menuAnim {
  0%{
    right:-160px;
  }
  50%{
    right:-80px;
  }
  100%{
    right:0px;
  }
}
#menu-checkbox + nav .main-menu{
 display: block;
   animation: meAnim 2s linear 1  forwards ;
}
@keyframes meAnim {
0%{
right:0px;
}
50%{
right:-80px;
}
100%{
right:-160px;
}
}

    #menu-checkbox + nav .toogle-button::after{
      content: attr(data-open);

    }
    #menu-checkbox:checked + nav .toogle-button::after{
      content: attr(data-close);
  }
  section{
    width: 100%;
  }
  .ord button{
    width: 60%;
  }
}
@media screen and (max-width:445px){
  section.video{
    display: none;
  }
  section.ord{
    margin-top: 200px;
  }
}
